color1 = #289feb
color2 = #fdd700
color3 = #355f9f

body
    background-color #f9f9f9
    font-size 14px
    font-family 'Roboto', sans-serif

a
.btn
    &:active
        box-shadow none
        outline none

.mtop16
	margin-top 16px
	       
.mtop32
	margin-top 32px

nav
    background-color #fff
    border-bottom 2px solid color1

    .navbar-brand
        img
            width 225px

    .navbar-nav
        li.nav-item
            a.nav-link
                border 1px solid #fff
                border-radius 4px
                color #000
                font-size .9em
                font-weight bold
                margin-right 4px
                padding 5px 16px !important
                &:hover
                    color color3

            a.btn
                border 1px solid color1
                color #000
                &:hover
                    background-color color2

            ul.dropdown-menu
                border-radius 0px 0px 4px 4px
                background-color #fff
                border 0px
                top 136% !important //ordenar el menú en hola: nombre del usuario
                li
                    border-bottom 1px solid #fff
                    a
                        color #000
                        display block
                        float none
                        width 100%
                        i
                        	color color3
                    &:last-child
                        border-bottom 0px
                    &:hover
                    	background-color #c4c4c4

        li.link-acc
            overflow hidden

            a
                display inline-block
                float left
                margin-right 0px !important

                &:first-child
                    border-radius 4px 0px 0px 4px
                    border-right 1px solid #fff

                &:last-child
                    border-radius 0px 4px 4px 0px

                img
                    position relative
                    top -1px
                    margin-right 6px
                    width 24px

        li.link-user
            overflow initial

            a
                border 0px !important

                &:hover
                    background-color transparent !important
.wrapper
	.panel
        background-color #fff
        border-radius 6px
        border-bottom 2px solid #70ddff
        width 100%
        .header
            border-bottom 6px solid #e8e8e8
            h2.title
                display inline-block
                color #19213d
                font-size 1.1em
                padding 12px 16px
            ul
                display inline-block
                float right
                margin-right 12px
                li
                    display inline-block
                    position relative
                    a
                        color #333
                        display inline-block
                        padding 10px
                        &:hover
                            background-color #f6f6f6
                            color #222
                            text-decoration none
                        i
                            color #2caaff
                    
                    ul
                        background-color #fff
                        border 1px solid #f0f0f0                 
                        display none
                        float none
                        position absolute
                        right -16px
                        width 200px
                        li
                            display inline-block
                            border-bottom 1px solid #f0f0f0
                            width 100%
                            &:last-child
                                border-bottom 0px
                            a
                                display block
                                width value
                    &:hover
                        ul
                            display block
        .inside
            padding 16px
            .nav
                .nav-link
                    border 1px solid #2caaff
                    margin-right 8px
            .form_search
                display none
                margin-bottom 16px
                .btn
                    width 100%
            .big_count
                display block
                font-size 2em
                text-align center
                width 100%

	